html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ---------- LOGIN-FORM ---------- */
fieldset {
	border: none;
	margin: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	-webkit-appearance: none;
}

#login-form {
	margin: 150px auto;
	width: 300px;
}

#login-form img {
        margin-left:77px;
	width:150px;
        height:150px;
}


#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	position: relative;
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="text"] {
        margin-top:20px;
        margin-left:20px;
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 238px;
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
        margin-left:20px;	
	padding: 12px 10px;
	width: 238px;
	border-top: 5px;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #e59865;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
        margin-left:90px;
        cursor: pointer;
}

#login-form input[type="submit"]:hover { background: #e07934; }

